<div class="container">
<div  class="ng-scope" style="">
  <h2>Contact Us</h2>
  </div>
  <br><p>For faster service track your rebate online.</p>
  <div>
  <tabset>
    <tab heading="Phone" id="tab1">
      866-892-8078
      <br>Phone agents are available
      <br><strong>Monday-Friday</strong>
      <br><strong>6:00 am - 6:00 pm PST</strong>
      </tab>
    <tab heading="Email" id="tab2">
    <div class="row">
      <div class="col-md-12">
          <form #userlogin = "ngForm" >
            <div class="form-group col-md-6">
              <br><input type = "text" name = "First Name" placeholder="Frist Name*">
              <br><input type = "text" name = "Last Name" placeholder="Last Name*" ngModel>
              <br><input type="email" name= "Email Address" placeholder="Email Address" ngModel>
              <br><input type="email" name= "Email Address" placeholder="Confirm Email" ngModel>
              <br><input type="tel" name= "number" placeholder="Phone Number*" ngModel>
              <br><input type = "text" name = "Zip code*" placeholder="Zip code*" ngModel>
            </div>
            <div class="form-group col-md-6">
              <br><input type="text" name= "Offer Code" placeholder="Offer Code*" ngModel>
              <br><input type="text" name= "Tracking Number" placeholder="Tracking Number*" ngModel>
              <br><select name="subject">
                <option value="">Choose Subject*</option>
                <option value="What is the status of my rebate?">What is the status of my rebate?</option>
                <option value="How do I redeem my rebate?">How do I redeem my rebate?</option>
                <option value="I cannot process my rebate online.">I cannot process my rebate online.</option>
                <option value="My eligibility has not been confirmed.">My eligibility has not been confirmed.</option>
                <option value="I have not received my issued rebate.">I have not received my issued rebate.</option>
                <option value="I cannot check the status of my rebate.">I cannot check the status of my rebate.</option>
                <option value="I did not receive a confirmation notice.">I did not receive a confirmation notice.</option>
               <option value="I received an error message.">I received an error message.</option>
               <option value="General Inquiry">General Inquiry</option>
               <option value="Other">Other</option>
             </select>
             <br><input type="text" name= "Your Message" placeholder="Your Message" ngModel>
           </div>
           <div class = "btn-lnk">
             <br><input type = "submit" value = "Send Email >">
           </div>
         </form>
       </div>
     </div>
   </tab>
  </tabset>
</div>
</div>
